<p style="color: green"><%= notice %></p>
<div class="heading">
  <h1 class="heading__title">Transactions</h1>
</div>
<%= link_to "New entity", new_category_entity_path, :class => "fcc-btn" %>
<div id="entities">
  <% @entities.each do |entity| %>
    <%= link_to category_entities_path(entity) do %>
      <%= render entity %>
    <% end %>
  <% end %>
</div>
<!--
  <hr/>
  <% @category_entities.each do |transaction|  %>
    <p><%= transaction.category.name%></p>
    <p><%= transaction.category.icon%></p>
    <p><%= transaction.entity.name%></p>
    <p><%= transaction.entity.amount%></p>
    <hr/>
  <% end %>

  -->
